<!DOCTYPE HTML>
<html lang="es">
<head>
{{>head}}
</head>
<body>
<h1>Agregar Contacto</h1>


<form action="/agregar-contacto" method="POST">
<input type = "text" id = "nombre" name="nombre">
<input type = "text" id = "apellido" name ="apellido">
<input type ="text" id= "telefono" name="telefono">
<button type="submit">Agregar</button>
</form>
</body>
</html>